[submodule "survivor"]
	path = survivor
	url = git@github.com:OlivierBlanvillain/survivor.git
[submodule "transport"]
	path = transport
	url = git@github.com:OlivierBlanvillain/scala-js-transport.git
