[submodule "survivor"]
	path = survivor
	url = git@github.com:OlivierBlanvillain/survivor.git
[submodule "transport"]
	path = transport
	url = git@github.com:OlivierBlanvillain/scala-js-transport.git
[submodule "lag-comp"]
	path = lag-comp
	url = git@github.com:OlivierBlanvillain/scala-lag-comp.git
